<div class="container-fluid">
  <header class="header row">
    <div class="col-md-12">
      <nav class="main-menu">
        <ul class="list-unstyled">
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/author">Author</a></li>
        </ul>
      </nav>

      <h1 class="site-name">
        <a routerLink="/">Herbopedia </a>
      </h1>

    </div>
  </header>
</div>

<router-outlet></router-outlet>

<!--todo - jeśli nie ma itemów, komunikat -->

<!-- todo wyświetlanie ilości itemów -->