<div class="container-fluid">
  <header class="header row">
    <div class="col-md-12">
      <nav class="main-menu">
        <ul class="list-unstyled">
          <li><a href="/contact">Contact</a></li>
          <li><a href="/author">Author</a></li>
        </ul>
      </nav>
      <a href="#">
        <h1 class="site-name">Herbopedia </h1>
      </a>
    </div>
  </header>
</div>

<router-outlet></router-outlet>

<!--todo - jeśli nie ma itemów, komunikat -->

<!-- todo wyświetlanie ilości itemów -->
