<div class="container-fluid">
  <div class="searchbox">
    <div class="row">
      <div class="col-md-12">
        <input type="text" name="filter" class="search-input form-controll" placeholder="search">
        <button class="btn btn-default pull-right" (click)="isClassVisible = !isClassVisible">Zmień widok</button>
      </div>
    </div>
  </div>
</div>

<app-info-box [herbs]="herbs"></app-info-box>

<div class="container-fluid">
  <div class="row">
    <div [class.list-view]="isClassVisible">
      <ul class="herbList list-unstyled">
        <li *ngFor="let herb of herbs
    let i = index" class="herbWrapper" (click)="onSelect(herb)" data-toggle="modal" data-target="#myModal" #myList>
          <img src={{herb.img}} class="herbImg img-responsive">
          <span class="herbName">
            {{herb.name}}
          </span>
          <span class="number">
            #{{i + 1}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-modal [selectedHerb]="selectedHerb"></app-modal>
<!--todo dodać widok listy -->

<!--todo add decorator to herb item -->
