body, html, * {
  box-sizing: border-box;
  font-family: sans-serif;
}
.body {
  background-color: cornflowerblue;
}
.herbWrapper {
  height: 170px;
  max-width: 250px;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
  padding-bottom: 25px;
  border-radius: 5px;
  cursor: pointer;
}
.herbList {
  margin-top: 20px;

}
.herbList li {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
}
.herbName {
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  background-color: white;
}

.herbImg {
  width: 100%;
  max-height: 135px;
  color: white;
  position: relative;

}

.modal .herbImg {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.number {
  display: inline-block;
  margin-top: 5px;
  color: cornflowerblue;
  float: right;
  margin-right: 20px;
  background-color: white;
}

.search-input {
  height: 50px;
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding-left: 15px;
}

/*todo add efekt jak na psach */
/**/
.modal .modal-content {
  background-color: white;
}

.modal-header {
  background-color: cornflowerblue;
}

.modal-header > h4 {
  background-color: cornflowerblue;
  color: white;
}

.modal-header > span {
  background-color: cornflowerblue;
  color: white;
}

.header {
  background-color: cornflowerblue;
  min-height: 50px;
  color: white;

}

.header h2 {
}
